/* App.css */

/* General styles */
.App {

  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
 
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Column-specific styles */

table td:first-child {
  width: 25%; /* Adjust the width as needed */
}


table td:nth-child(2) {
  width: 25%; /* Adjust the width as needed */
}


table td:nth-child(3) {
  width: 25%; /* Adjust the width as needed */
}

table td:nth-child(4) {
  width: 25%; /* Adjust the width as needed */
}

table th:first-child {
  width: 25%; /* Adjust the width as needed */
}


table th:nth-child(2) {
  width: 25%; /* Adjust the width as needed */
}


table th:nth-child(3) {
  width: 25%; /* Adjust the width as needed */
}

table th:nth-child(4) {
  width: 25%; /* Adjust the width as needed */
}